* {
    box-sizing: border-box;
    margin: 0;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
}

.brand-logo {
    font-family: 'Press Start 2P', cursive;
    margin-left: 5px;
}

.center {
    font-family: 'Press Start 2P', cursive;
    font-size: 20px;
    color: blue;
}

.secondary-content:hover {
    text-decoration: underline;
    cursor: pointer;
}